{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registro</title>
    
    <!-- CSS externo -->
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2 class="text-center">Registro</h2>
            
            <form name="RegistrationForm" id="form" method="POST" class="form-horizontal" action="{% url 'login:registrer' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <div class="col-sm-12 controls">
                        <button type="submit" class="btn btn-primary pull-right">
                            <i class="glyphicon glyphicon-log-in"></i> Registrar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
